.defaultNav {
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $darkenwhite;
    list-style-type: none;

    &Flap {
        float: left;

        li {
            a {
                display: block;
                padding: 14px 16px;
                color: $white;
                text-align: center;
                text-decoration: none;

                &:hover:not(.active) {
                    background-color: $black;
                }

                .active {
                    background-color: #4CAF50;
                }
            }
        }
    }    
}
