#yourChoice {
   
}

.yourChoiceContainer {
    height: 100vh;
    // background-image: url("../../zdjecia/background2.png");

    h3 {
        color: $darkenwhite;
    }

    &Main {
        padding-top: 180px;
        text-align: center;

        .yourChoicePosition {
            display: inline-block;
            
           

            .left, .right {
                border: 0;
                padding: 80px;
                width: 0;
                top: -160px;
                margin:200px;
                position: aboslute;
                margin-left: auto;
                margin-right:auto;
                background-color: transparent;
              }
            .left {
                top: 200px;
                left: -2px;
                padding: 82px;}
              
            .animatedBorderTop, 
            .animatedBorderBottom,
            .animatedBorderLeft,
            .animatedBorderRight {
                position: relative;
            }
            .animatedBorderTop::before {
                content: '';
                position: absolute;
                border-bottom: 5px solid $colorLogo;
                top: 0;
                left: 0;
                right: 80%;
                transition: all 500ms;
            }
            .main:hover .animatedBorderTop::before {
                  right: 0;
              }
              
              
              
              .animatedBorderBottom::before {
                  content: '';
                  position: absolute;
                  border-bottom: 5px solid $colorLogo;
                  bottom: 0;
                  left: 80%;
                  right: 0;
                  transition: all 500ms;
              }
              
              .main:hover .animatedBorderBottom::before {
                  left: 0px;
              }
              
              .animatedBorderLeft::after {
                  content: '';
                  position: absolute;
                  border-left: 5px solid $colorLogo;
                  bottom: 0;
                  right: 0;
                  top: 80%;
                  transition: all 500ms;
              }
              
              .main:hover .animatedBorderLeft::after {
                  top: 0;
              }
              
              .animatedBorderRight::after {
                  content: '';
                  position: absolute;
                  border-left: 5px solid $colorLogo;
                  bottom: 80%;
                  left: 0;
                  top: 0;
                  transition: all 500ms;
              }

              .main:hover .animatedBorderRight::after {
                  bottom: 0;
              }
        }    
    }
}
